{% extends "base.html" %} {% block title %}nickmaina{% endblock %} {% block
content %}
<div class="w-full md:w-md lg:w-lg">
  {% for post in posts %}
  <div class="my-4 pb-4 w-full">
    <h2 class="font-semibold">
      <a class="underline" href="/{{ post.permalink }}.html"
        >{{ post.title }}</a
      >
    </h2>
    <p class="text-gray-500">Published on {{ post.py_date.strftime("%d %b %Y") }}</p>
    {% for tag in post.tags %}
    <a class=" " href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
