{% extends "base.html" %} {% block title %}{{ tag.title() }} - nickmaina{% endblock %}
{% block content %}
<div class="w-full md:w-md lg:w-lg">
  {% for post in posts %} {% if not post.private %}
  <div class="my-4 pb-1">
    <div>
      <h2 class="font-semibold">
        <a class="underline" href="/{{ post.permalink }}.html">{{ post.title }}</a>
      </h2>
      <p class="text-gray-500">Published on {{ post.py_date.strftime("%d %b %Y") }}</p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
